<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Two Way Data Binding</title>
</head>

<body>
    <div id="vue-app" class="container">
        <div class="jumbotron mt-4">
            <h1 class="">Two Way Data Binding</h1>

            <h2 class="mt-5">Example 1</h2>
            <!-- <label for="" class="">Name: </label> -->
            <div class="row">
                <input type="text" v-model="name" class="col-sm-3 mt-3 mr-2 ml-3 form-control" placeholder="Name">
                <!-- <label for="" class="lead">Age: </label> -->
                <input type="text" v-model="age" class="col-sm-3 mt-3 form-control" placeholder="Age">
            </div>
            <p class="mt-4">My name is {{ name }}</p>
            <p>I'm {{ age }} years old</p>

            <h2 class="mt-5">Example 2</h2>
            <form action="">
                <div class="col-sm-6">
                    <input type="text" class="mt-3 form-control" placeholder="Can't typing in this field" v-model="options" disabled>
                </div>
                <div class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="options" class="form-check-input" value="option-1" checked>
                            This is option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="options" class="form-check-input" value="option-2">
                            This is option 2
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" v-model="options" class="form-check-input" value="option-3">
                            This is option 3
                        </label>
                    </div>
                </div>
                <p class="lead">You selected : {{options.join(', ')}}</p>
            </form>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>